# Copyright 2018-2020 the original author or authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

api = "0.7"

[buildpack]
  description = "A Cloud Native Buildpack that builds Maven-based applications from source"
  homepage = "https://github.com/paketo-buildpacks/maven"
  id = "paketo-buildpacks/maven"
  keywords = ["java", "maven", "build-system"]
  name = "Paketo Buildpack for Maven"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/vnd.syft+json"]
  version = "{{.version}}"

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/maven/blob/main/LICENSE"

[metadata]
  include-files = ["LICENSE", "NOTICE", "README.md", "linux/amd64/bin/build", "linux/amd64/bin/detect", "linux/amd64/bin/main", "linux/arm64/bin/build", "linux/arm64/bin/detect", "linux/arm64/bin/main", "buildpack.toml"]
  pre-package = "scripts/build.sh"

  [[metadata.configurations]]
    build = true
    default = "-Dmaven.test.skip=true --no-transfer-progress package"
    description = "the arguments to pass to Maven"
    name = "BP_MAVEN_BUILD_ARGUMENTS"

  [[metadata.configurations]]
    build = true
    default = ""
    description = "the additionnal arguments (appended to BP_MAVEN_BUILD_ARGUMENTS) to pass to Maven"
    name = "BP_MAVEN_ADDITIONAL_BUILD_ARGUMENTS"

  [[metadata.configurations]]
    build = true
    default = ""
    description = "the active profiles (comma separated: such as: p1,!p2,?p3) to pass to Maven"
    name = "BP_MAVEN_ACTIVE_PROFILES"

  [[metadata.configurations]]
    build = true
    default = "target/*.[ejw]ar"
    description = "the built application artifact explicitly.  Supersedes $BP_MAVEN_BUILT_MODULE"
    name = "BP_MAVEN_BUILT_ARTIFACT"

  [[metadata.configurations]]
    build = true
    default = "pom.xml"
    description = "the location of the main pom.xml file, relative to the application root"
    detect = true
    name = "BP_MAVEN_POM_FILE"

  [[metadata.configurations]]
    build = true
    description = "the module to find application artifact in"
    name = "BP_MAVEN_BUILT_MODULE"

  [[metadata.configurations]]
    build = true
    default = "false"
    description = "use maven daemon"
    name = "BP_MAVEN_DAEMON_ENABLED"

  [[metadata.configurations]]
    build = true
    description = "the path to a Maven settings file"
    name = "BP_MAVEN_SETTINGS_PATH"

  [[metadata.configurations]]
    build = true
    default = "3"
    description = "the Maven version"
    name = "BP_MAVEN_VERSION"

  [[metadata.configurations]]
    build = true
    default = ""
    description = "colon separated list of glob patterns, matched source files are included"
    name = "BP_INCLUDE_FILES"

  [[metadata.configurations]]
    build = true
    default = ""
    description = "colon separated list of glob patterns, matched source files are removed"
    name = "BP_EXCLUDE_FILES"

  [[metadata.configurations]]
    build = true
    default = "false"
    description = "whether to install Yarn/Node binaries based on the presence of a package.json or yarn.lock file"
    name = "BP_JAVA_INSTALL_NODE"

  [[metadata.configurations]]
    build = true
    default = ""
    description = "configure a project subdirectory to look for `package.json` and `yarn.lock` files"
    name = "BP_NODE_PROJECT_PATH"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:apache:maven:3.9.9:*:*:*:*:*:*:*"]
    id = "maven"
    name = "Apache Maven"
    purl = "pkg:generic/apache-maven@3.9.9"
    sha256 = "4b7195b6a4f5c81af4c0212677a32ee8143643401bc6e1e8412e6b06ea82beac"
    source = "https://repo1.maven.org/maven2/org/apache/maven/apache-maven/3.9.11/apache-maven-3.9.11-src.tar.gz"
    source-sha256 = "f312bb9db25937f1fd7ca1d53a086a3cdde596086147a42a75af027058810b9e"
    stacks = ["io.buildpacks.stacks.bionic", "io.paketo.stacks.tiny", "*"]
    uri = "https://repo1.maven.org/maven2/org/apache/maven/apache-maven/3.9.11/apache-maven-3.9.11-bin.tar.gz"
    version = "3.9.11"

    [[metadata.dependencies.licenses]]
      type = "Apache-2.0"
      uri = "https://www.apache.org/licenses/"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:apache:maven:4.0.0:*:*:*:*:*:*:*"]
    id = "maven"
    name = "Apache Maven"
    purl = "pkg:generic/apache-maven@4.0.0"
    sha256 = "454ab0fb07e6e9e365f7f56e6bcef18df1d619aa57e2bd6de527f0e0c85bdbbb"
    source = "https://repo1.maven.org/maven2/org/apache/maven/apache-maven/4.0.0-rc-4/apache-maven-4.0.0-rc-4-src.tar.gz"
    source-sha256 = "ef46e6907f845a378cf69baae0a031d8e3d3e99c9c8d5a04820aabb83dec6495"
    stacks = ["io.buildpacks.stacks.bionic", "io.paketo.stacks.tiny", "*"]
    uri = "https://repo1.maven.org/maven2/org/apache/maven/apache-maven/4.0.0-rc-4/apache-maven-4.0.0-rc-4-bin.tar.gz"
    version = "4.0.0"

    [[metadata.dependencies.licenses]]
      type = "Apache-2.0"
      uri = "https://www.apache.org/licenses/"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:apache:mvnd:0.9.0:*:*:*:*:*:*:*"]
    id = "mvnd"
    name = "Apache Maven Daemon"
    purl = "pkg:generic/apache-mvnd@0.9.0"
    sha256 = "5d33a9a5964905381df1e132a1a4c0cc6e4b7c72f75daa2d799181b68091fe9f"
    source = "https://github.com/apache/maven-mvnd/archive/refs/tags/0.9.0.tar.gz"
    source-sha256 = "20435e39db7586ab740b3c90b8d209fc6483c67faef77452cea1f0b2b0b85d38"
    stacks = ["io.buildpacks.stacks.bionic", "io.paketo.stacks.tiny", "*"]
    uri = "https://github.com/apache/maven-mvnd/releases/download/0.9.0/maven-mvnd-0.9.0-linux-amd64.zip"
    version = "0.9.0"

    [[metadata.dependencies.licenses]]
      type = "Apache-2.0"
      uri = "https://www.apache.org/licenses/"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:apache:mvnd:1.0.2:*:*:*:*:*:*:*"]
    id = "mvnd"
    name = "Apache Maven Daemon"
    purl = "pkg:generic/apache-mvnd@1.0.2"
    sha256 = "3090bd3c61cb6af4fd7fe84bcec3d914104f26d02ff32fe881fc73c5bd1746c9"
    source = "https://github.com/apache/maven-mvnd/archive/refs/tags/1.0.3.tar.gz"
    source-sha256 = "8244f2a714d9e27b571a9d556b73a4b56e0370a91ab4d0a12da6dc20b631682f"
    stacks = ["io.buildpacks.stacks.bionic", "io.paketo.stacks.tiny", "*"]
    uri = "https://github.com/apache/maven-mvnd/releases/download/1.0.3/maven-mvnd-1.0.3-linux-amd64.zip"
    version = "1.0.3"

    [[metadata.dependencies.licenses]]
      type = "Apache-2.0"
      uri = "https://www.apache.org/licenses/"

[[stacks]]
  id = "io.buildpacks.stacks.bionic"

[[stacks]]
  id = "io.paketo.stacks.tiny"

[[stacks]]
  id = "*"

[[targets]]
  arch = "amd64"
  os = "linux"

[[targets]]
  arch = "arm64"
  os = "linux"
